.card {
  margin: 0;
  padding: 0;
  border-radius: 6px;
  background-color: rgba(34, 34, 34, 1);
  overflow: hidden;
  box-sizing: border-box;
}

.card__img {
  max-width: 100%;
  object-position: center;
  object-fit: contain;
  box-sizing: border-box;
}

.card__container {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.card__title {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  max-width: 290px;
  max-height: 16px;
}

.card__like {
  margin: 0;
  padding: 0;
  border: none;
  width: 15px;
  background-image: url("../../images/like-inactive.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: content-box;
  cursor: pointer;
}

.card__like_active {
  background-image: url("../../images/like-active.svg");
}

.card__like_delete {
  background-image: url("../../images/delete.svg");
}

.card__duration {
  margin: 0 16px 16px;
  padding: 0;
  font-size: 11px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(139, 139, 139, 1);
}



@media screen and (max-width: 950px) {
  .card__container {
    padding: 14px;
    gap: 6px;
  }

  .card__duration {
    margin: 0 14px 14px;
  }
}

@media screen and (max-width: 500px) {
  .card__title {
    font-size: 12px;
  }

  .card__duration {
    font-size: 10px;
  }
}
