.profile {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 74px auto 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  /* identical to box height */
  text-align: center;
  color: white;
}

.profile__list {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 113px auto 210px;
  padding: 10px;
  gap: 16px;
  border-radius: 6px;
}

.profile__list_active {
  background-color: rgba(61, 220, 132, .8);
}

.profile__item {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
}

.profile__item-name {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.2;
  /* identical to box height */
  color: #FFFFFF;
}

.profile__item-text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  /* identical to box height */
  text-align: right;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
}

.profile__button {
  margin: 0 auto 16px;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.profile__button_active {
  border-radius: 30px;
  background-color: rgba(61, 220, 132, 1);
  padding: 0 15px;
}

.profile__button_warning-color {
  font-weight: 500;
  color: rgba(238, 52, 101, 1);
}



@media screen and (max-width: 950px) {

  .profile__title {
    margin-top: 236px;
  }

  .profile__list {
    margin-top: 96px;
    margin-bottom: 210px;
  }
}



@media screen and (max-width: 600px) {
  .profile__title {
    margin-top: 70px;
  }

  .profile__list {
    margin-top: 80px;
    margin-bottom: 379px;
    padding: 0 30px;
  }
}
