.promo {
  background-color: rgba(7, 48, 66, 1);
  width: 100%;
  display: grid;
  padding: 75px 70px;
  justify-content: space-between;
  box-sizing: border-box;
  grid-template-areas: "container img";
}

.promo__container {
  display: flex;
  flex-direction: column;
  grid-area: container;
}

.promo__title {
  max-width: 640px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: white;
}

.promo__subtitle {
  margin: 0;
  margin-top: 36px;
  max-width: 310px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: white;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.promo__anchor-link {
  margin-top: 146px;
  max-width: 129px;
  max-height: 36px;
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: 3px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: white;
  padding: 9px 19px;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
}

.promo__logo {
  width: 310px;
  height: 304px;
  grid-area: img;
}


@media screen and (max-width: 950px) {
  .promo {
    grid-template-areas: "img"
      "container";
    justify-items: center;
    padding: 140px 0 76px;
    justify-content: center;
  }

  .promo__container {
    align-items: center;
    text-align: center;
  }

  .promo__title {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }

  .promo__logo {
    margin-bottom: 48px;
  }

  .promo__subtitle {
    margin-top: 21px;
    max-width: 260px;
  }

  .promo__anchor-link {
    margin-top: 91px;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    padding: 67px 0 30px;
  }

  .promo__logo {
    margin-bottom: 46px;
    width: 210px;
    height: 206px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
  }

  .promo__subtitle {
    margin-top: 23px;
  }

  .promo__anchor-link {
    margin-top: 79px;
  }
}
